*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    overflow: hidden;
    background-color: #0f0a28;
}

.experience
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}
.notice
{
    position: fixed;
    bottom: 0px;
    right: 0px;
    color: #fff;
}